body {
  margin: 0;
  padding: 0;
}

#header {
  height: 120px;
}

input, button:focus, button:active, button.active, button:focus:active {
  text-shadow:none;
  border:none;

  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#background {
  height: auto;
  min-height: 1000px;
  position: relative;
  background-color: #ffffff;
}

/*
#sidebar {
  height: auto;
  min-height: 1000px;
  width: 40px;
  float: right;
  z-index: 1;
  box-shadow: -2px 0px 8px 0px #828081;
  position: relative;
  background-color: #004d99;
}*/

#main {
  margin: 0 auto;
  width: 70%;
  position: relative;
  border: 1px solid #828081;
  height: auto;
  min-height: 1000px;
}

#calc {
  font-family: 'Orbitron', sans-serif;
  font-size: 22px;
  position: relative;
  padding: 20px;
  margin: 20px;
}

#calc button {
  font-family: 'Orbitron', sans-serif;
  font-size: 22px;
  position: relative;
  width: 80px;
  height: 60px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  border: 1px solid #bfbfbf;
}

#calc button:hover {
  background-color: #bfbfbf;

}

#both {
  height: 60px;
}

#inputBar {
  display: table-cell;
  width: 218px;
  padding-right: 20px;
  vertical-align: middle;
  line-height: 60px;
  text-align: right;
  background-color: #cce6ff;
  border-top: 1px solid #99ccff;
  border-left: 1px solid #99ccff;
  border-right: 1px solid #bfbfbf;
}

#inputBar:hover {
  background-color: #99ccff;
}

#side_button {
  display: table-cell;
}
