body {
  margin: 0px;
  padding: 0px;
}

#header {
  margin: 0 auto;
  width: 70%;
  position: relative;
  font-family: Helvetica;
}

#background {
  height: auto;
  min-height: 5000px
  position: relative;
  background-color: #ffffff;
}

#main {
  margin: 0 auto;
  margin-top: 20px;
  height: auto;
  min-height: 5000px;
  width: 70%;
  position: relative;
  border: 1px solid #cccccc;
}
